.get-app{
  display: flex;
  &__link{
    display: block;
    height: 38px;
    background: url("../images/sprite.png") no-repeat 0 0;
    border-radius: 4px;
    margin-right: 10px;
    &_iphone{
      width: 112px;
    }
    &_android{
      width: 120px;
      background-position: -128px 0;
    }
  }
  @media screen and (max-width: $mobile) {
    justify-content: space-around;
  }
}